/* #777;
#fff;
#000;
#333;
 #eee;
 #999; 
#55c57a;
 #7ed56f;
#28b485;
#ffb900;
 #ff7730;

 #2998ff;
#5643fa;
 
 */

*,
*::after 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 3px;
    
}
.header {
    background-color: #000c0cd7;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; /* this is used to place the header at a fixed position */
    left: 0;
    right: 0;

}
.header__content {
    display: flex; /*this is for the  header content  */
    position: relative;
}

.header__heading {
    color: #eee;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
}
.header__link {
    margin: 0 0 0 -36px;
    margin-bottom: 7px;
}
.header__link a:link{
    text-decoration: none;
    color: #999;
    
}
.header__link a:link:hover {
    color: #eee;
}
.btn {
    padding: 9px 12px;
    font-size: 18px;
    margin: 2px;
    border-radius: 5px;
    border-style: none;
    text-transform: capitalize;
    cursor: pointer;
    color: #eee;   
    display: inline-block; 
}
.btn:hover{
    color: #fff;
    background-color: #1d2951;
}
.btn-heart {
    position: absolute;
    right: 335px;
    top: 10px;
    background-color: #64f0f0d7;;
    
}
.btn-follow {
    position: absolute;
    top: 32px;
    left: 164px;
    background-color: #1a5286;
    font-size: 12px;
    padding: 2px 6px;
}
.btn-view {
    position: absolute;
    right: 195px;
    top: 10px;
    background-color: #64f0f0d7;;
}
.btn-signup {
    position: absolute;
    right: 100px;
    top: 10px;
    background-color: #1a5286;;
}
.btn-login {
    position: absolute;
    right: 20px;
    top: 10px;
    background-color:  #64f0f0d7;
}
.homepage {
    background-color: #eee;
    height: 50%;
    width: 99%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    
}
.homepage__heading {
    font-family: 'Ultra', serif;
    font-weight: 700;
    font-size: 40px;
    margin: 30px;
    padding: 60px;
    color: #4d4d4d;
}
.homepage__text {
    margin-top: -70px;
    color: rgb(68, 67, 67);
    font-weight: 300;
    font-family: 'Cantarell', sans-serif;
}
.homepage__img {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    width: 98%;
    margin: 0 auto;
}
.homepage__img--caption {
    color: rgb(68, 67, 67);
    font-weight: 300;
    font-family: 'Cantarell', sans-serif;
    padding: 5px;
    text-align: center;
}
.homepage__story {
    color: rgb(68, 67, 67);
    font-weight: 300;
    font-family: 'Cantarell', sans-serif;
    width: 40%;
    display: inline-block;
    text-align: left;
    font-size: 16px;
}
.homepage__subheading {
    font-size: 18px;
    text-align: center;
    padding: 30PX;
}
.homepage__nav {

}
.homepage__ul {
   line-height: ;
}
.homepage__ul li {
    line-height: 1.3;
}





